@isakshamkumar2:registry=https://npm.pkg.github.com/

# //registry.npmjs.org
# @GenFlowly:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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